@using TestMVC.Util
@model Client

<div id="add-client">
    <div class="form-group">
        @Html.LabelFor(m => m.Inn)
        @Html.TextBoxFor(m => m.Inn, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Inn)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Type)
        @Html.DropDownListFor(m => m.Type, new SelectList(EnumHelper.GetDisplayNames<Client.ClientType>().Select((v, i) => new { Value = i, Text = v }), "Value", "Text"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Type)
    </div>
    <button class="btn btn-primary" onclick="addClient()">Добавить клиента</button>
</div>
